# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
# vscode-sops
.decrypted~*.yaml
.config.env
*.agekey
*.pub
*.key
# Ansible
xanmanning.k3s*
# Terraform
.terraform
.terraform.tfstate*
terraform.tfstate*
ansible/inventory/group_vars/kubernetes/kube-vip.yml
.sops.yaml
ansible/inventory/hosts.yml
ansible/inventory/host_vars/k8s-0.sops.yml
kubernetes/flux/config/cluster.yaml
kubernetes/flux/vars/cluster-settings.yaml
